/* Footer design */
.footer {
  background-color: #333333;
  color: #CCCCCC;
  padding: 40px 0px;
}

.fa {
  font-size: 30px;
  margin-right: 20px;
  color: #CCCCCC;
  transition: color 0.3s ease;
}

.fa:hover {
  color: yellow;
}

.footer p {
  color: #CCCCCC;
  margin-top: 10px;
}
